.card1{
    background-color: #000000;
    display: flex;
    align-items: center;
    gap:53px;
    padding: 40px;
    border-radius:32px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-top: 50px;
    background-color: gray;
}

.badge{
    background-color: #191919;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48px;
    width: fit-content;

}

.episode{
    color: #118DA8;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 17px;
}

.title1{
    color: white;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    margin-bottom: 28px;
}

.text1{
    color: #FFFFFFB2;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 18px;
}

.button1{
    background-color: #118DA8;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 12px 15px 12px 20px;
    border: none;
}

.card2{
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    width:fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.author{
    color: #86928B;
    font-weight:500;
    font-size: 16px;
    line-height: 100%;
    margin-top: 15px;
    margin-bottom:10px ;
}

.title2{
    color: #2C2D35;
    font-weight:500;
    font-size:24px ;
    line-height:100% ;
    margin-bottom: 10px;
}

.materials{
    color: #2C2D35;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price{
    color: #598D66;
    font-weight: 500;
    font-size:20px ;
    line-height:100%;
    margin-bottom:10px ;
}

.button2{
    color: #598D66;
    border: 1px solid #598D66;
    background-color: transparent;
    padding:14px  81px;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}

.card3{
    width: 380px;
    height: 582px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.text2{
    padding: 50px 89px 50px 44px;
    gap: 24px;
}

.title3{
    color:#2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;
}

.desc{
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

.price2{
    color:#434B53 ;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom:14px;
}

.button3{
    background-color:#FED84C ;
    color:#2E363E ;
    font-size: 18px;
    font-weight:500 ;
    line-height: 152%;
    padding:20px 40px ;
    border-radius: 8px;
    border: none;
    gap: 10px;
    width: 163px;
    height:68px;
}


.card4{
    width:330px;
    height: 400px;
    background-color: #0C0B15;
    padding:20px;
    border-radius: 6px;
    box-sizing: border-box;
}

.avatar{
    width: 60px;
    height: 60px;
    margin-bottom: 18px;
}

.title4{
    color: #FFFFFF;
    font-weight:600 ;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 24px;
}

.icon{
    width: 28px;
    height: 6px;
}

.content{
    color: #809FB8;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 26px;
}

.text3{
    color: #809FB8;
    font-weight:600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 53px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box{
    display: flex;
    justify-content: space-between;
}