.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.card1{
    width: 380px;
    height: 582px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.block1{
    padding: 50px 89px 50px 44px;
    gap: 24px;
}

.title1{
    color:#2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin-bottom: 12px;
}

.desc{
    color: #2E363E;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

.price1{
    color:#434B53 ;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom:14px;
}

.button1{
    background-color:#FED84C ;
    color:#2E363E ;
    font-size: 18px;
    font-weight:500 ;
    line-height: 152%;
    padding:20px 40px ;
    border-radius: 8px;
    border: none;
    gap: 10px;
    width: 163px;
    height:68px;
}
body{
    width: 1180px;
}
