.container{
    background-color: darkred;
}

.container h1{
    color: white;
    align-items: center;
    text-align: center;
}

.container p{
    position: static;
    /* значение по умолчанию */
    color: deepskyblue;
    text-align: center;
}

.box img {
    position: relative;
    /* элемент остается на своем месте,но можно его подвинуть */
    top: 50px;
    left: 100px;
    width: 1000px;
    height: 650px;
}
.sport{
    position: relative;
}

.sport h3{
    position: absolute;
    /* позиционируется от ближайшего родителя с position:relative */
    top: 600px;
}

.sport p{
    position: absolute;
    top: 630px;
}

.ride h4{
    position: fixed;
    /* не двигается при прокрутке вниз */
    bottom: 10px;
    right: 30px;
    background-color: lightskyblue;
    color: black;
}

.part h3{
    position: sticky;
    /* сначала обычный,потом прилипает при скролле */
    top: 300px;
    color: darkred;
}

.part p{
    position: sticky;
    top: 310px;
}

