p {
    color:blue;
    
}

.important {
    font-weight: bolder;
    color:brown;
    font-size: 40px;
}

#h1 {
    color:red;
    text-align:center;
    
}

#li{
    font-size: 50px;
    color:black;
}

li {
    font-size: 9px;
}